
h2{
  color:brown
}

h4{
  background-color:blanchedalmond
}

body{
  font-family:"Avenir Next";
}

.header{
  background-color:aqua
}

.main{
  background-color:azure
}

.footer{
  background-color:bisque
}



h5{
  color:brown;
  font-size: 30px;
}

h6{
  font-size: 30px;
}


.aaa{
  color:aqua
}
